IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'TriviaGameDb')
BEGIN
    CREATE DATABASE [TriviaGameDb]
END
GO
USE [TriviaGameDb]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 27/05/2026 5:15:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Categories]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DifficultyLevel] [int] NOT NULL,
	[Points] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[GameSessions]    Script Date: 27/05/2026 5:15:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GameSessions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GameSessions](
	[Id] [uniqueidentifier] NOT NULL,
	[PlayerId] [int] NOT NULL,
	[CurrentRound] [int] NULL,
	[AccumulatedPrize] [money] NULL,
	[IdStatus] [int] NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__GameSess__3214EC07E105D777] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[GameStatus]    Script Date: 27/05/2026 5:15:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GameStatus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GameStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameStatus] [varchar](50) NULL,
	[Active] [bit] NULL,
 CONSTRAINT [PK_GameStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Options]    Script Date: 27/05/2026 5:15:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Options]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Options](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[QuestionId] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Player]    Script Date: 27/05/2026 5:15:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Player]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Player](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Alias] [nvarchar](50) NOT NULL,
	[TotalPointsAchieved] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 27/05/2026 5:15:59 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Questions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Questions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Text] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

GO
INSERT [dbo].[Categories] ([Id], [Name], [DifficultyLevel], [Points]) VALUES (1, N'Nivel 1: Fácil', 1, 100)
GO
INSERT [dbo].[Categories] ([Id], [Name], [DifficultyLevel], [Points]) VALUES (2, N'Nivel 2: Básico', 2, 500)
GO
INSERT [dbo].[Categories] ([Id], [Name], [DifficultyLevel], [Points]) VALUES (3, N'Nivel 3: Intermedio', 3, 1000)
GO
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[GameStatus] ON 

GO
INSERT [dbo].[GameStatus] ([Id], [GameStatus], [Active]) VALUES (1, N'In-Progress', 1)
GO
INSERT [dbo].[GameStatus] ([Id], [GameStatus], [Active]) VALUES (2, N'Won', 1)
GO
INSERT [dbo].[GameStatus] ([Id], [GameStatus], [Active]) VALUES (3, N'Lost', 1)
GO
SET IDENTITY_INSERT [dbo].[GameStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[Options] ON 

GO
INSERT [dbo].[Options] ([Id], [QuestionId], [Text], [IsCorrect]) VALUES (1, 1, N'Azul', 1)
GO
INSERT [dbo].[Options] ([Id], [QuestionId], [Text], [IsCorrect]) VALUES (2, 1, N'Verde', 0)
GO
INSERT [dbo].[Options] ([Id], [QuestionId], [Text], [IsCorrect]) VALUES (3, 1, N'Rojo', 0)
GO
SET IDENTITY_INSERT [dbo].[Options] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

GO
INSERT [dbo].[Questions] ([Id], [CategoryId], [Text]) VALUES (1, 1, N'¿Cuál es el color del cielo en un día despejado?')
GO
INSERT [dbo].[Questions] ([Id], [CategoryId], [Text]) VALUES (2, 1, N'¿Cuántos días tiene una semana?')
GO
INSERT [dbo].[Questions] ([Id], [CategoryId], [Text]) VALUES (3, 1, N'¿Qué animal dice miau?')
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GameSessions__Id__1B0907CE]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GameSessions] ADD  CONSTRAINT [DF__GameSessions__Id__1B0907CE]  DEFAULT (newid()) FOR [Id]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GameSessi__Curre__1BFD2C07]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GameSessions] ADD  CONSTRAINT [DF__GameSessi__Curre__1BFD2C07]  DEFAULT ((1)) FOR [CurrentRound]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GameSessi__Accum__1CF15040]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GameSessions] ADD  CONSTRAINT [DF__GameSessi__Accum__1CF15040]  DEFAULT ((0)) FOR [AccumulatedPrize]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GameSessi__Statu__1DE57479]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GameSessions] ADD  CONSTRAINT [DF__GameSessi__Statu__1DE57479]  DEFAULT ('In-Progress') FOR [IdStatus]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__GameSessi__Creat__1ED998B2]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GameSessions] ADD  CONSTRAINT [DF__GameSessi__Creat__1ED998B2]  DEFAULT (getdate()) FOR [CreatedAt]
END

GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GameSessions_Players]') AND parent_object_id = OBJECT_ID(N'[dbo].[GameSessions]'))
ALTER TABLE [dbo].[GameSessions]  WITH CHECK ADD  CONSTRAINT [FK_GameSessions_Players] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Player] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GameSessions_Players]') AND parent_object_id = OBJECT_ID(N'[dbo].[GameSessions]'))
ALTER TABLE [dbo].[GameSessions] CHECK CONSTRAINT [FK_GameSessions_Players]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Options_Questions]') AND parent_object_id = OBJECT_ID(N'[dbo].[Options]'))
ALTER TABLE [dbo].[Options]  WITH CHECK ADD  CONSTRAINT [FK_Options_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Options_Questions]') AND parent_object_id = OBJECT_ID(N'[dbo].[Options]'))
ALTER TABLE [dbo].[Options] CHECK CONSTRAINT [FK_Options_Questions]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Questions_Categories]') AND parent_object_id = OBJECT_ID(N'[dbo].[Questions]'))
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Questions_Categories]') AND parent_object_id = OBJECT_ID(N'[dbo].[Questions]'))
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Categories]
GO
